
:root{

        /*color_palette----------------------------------------------------------------------*/
        /*dark*/
        --light_color_dark_mode: #FFFFFF;
        --light_medium_color_dark_mode: #f79393;
        --medium_color_dark_mode: #6e1111;
        --medium_dark_color_dark_mode: #440909;
        --dark_color_dark_mode: #1f0303;

        /*light*/
        --light_color: #f2dada;
        --light_medium_color: #f7b0b0;
        --medium_color: #de4d4d;
        --medium_dark_color: #2e1212;
        --dark_color: #610b0b;
        
}