
:root{

        /*color_palette----------------------------------------------------------------------*/
        /*dark*/
        --light_color_dark_mode: #ffffff;
        --light_medium_color_dark_mode: #f7c093;
        --medium_color_dark_mode: #6e3e11;
        --medium_dark_color_dark_mode: #442609;
        --dark_color_dark_mode: #1f1003;

        /*light*/
        --light_color: #f2e5da;
        --light_medium_color: #f7cdb0;
        --medium_color: #de8e4d;
        --medium_dark_color: #2e1f12;
        --dark_color: #612d0b;
        
}