/*general-----------------------------------------------------------------------------*/

:root{
    --light_color: #DAF2F2;
    --medium_color: #8ACECE;
    --dark_color: #007F7F;
    --writing_light_color: #DAF2F2;
    --writing_medium_color: #8ACECE;
    --writing_dark_color: #007F7F;

    --light_color: #DAF2F2;
    --light_medium_color: #B0CFF7;
    --medium_color: #4D8CDE;
    --dark_color: #0C0B61;
    --writing_light_color: #DAF2F2;
    --writing_medium_color: #4D8CDE;
    --writing_dark_color: #0C0B61;

    /*--light_color: #FFFFFF;
    --medium_color: #C0C0C0;
    --dark_color: #E2001A;
    --writing_light_color: #FFFFFF;
    --writing_medium_color: #F0F0F0;
    --writing_dark_color: #E2001A;*/

}

body {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-color: var(--light_color);
    font-family: sans-serif;
    color: var(--writing_dark_color);
    overflow:hidden;
    /*color: black;*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a:link{
    text-decoration:none;
    color: var(--writing_light_color);
}
a:visited{
    color: var(--writing_light_color);
}
/*a:hover{
    /*text-decoration: underline;
    border-bottom-width: 3px;
    border-bottom-color: var(--light_color);
    border-bottom-style: solid;
    transition: 0.5s;
}*/

#top_myLinks li a {
    display: inline-block;
    position: relative;
}

#top_myLinks a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 105%;
    height: 2px;
    background-color: var(--light_color);
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

#top_myLinks a:active::after {
    transform: scale(1);
}
#top_myLinks a:hover::after {
    transform: scale(1);
}

#mob_myLinks li a {
    display: block;
    position: relative;
}

#mob_myLinks a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 85px;
    height: 2px;
    background-color: var(--dark_color);
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: right;
}

#mob_myLinks a:active::after {
    transform: scale(1);
}

#mob_myLinks a:hover::after {
    transform: scale(1);
}

button:hover{
    /*text-decoration: underline;*/
    background-color: var(--light_color);
}

input, select, button{
    width: 150px;
    padding: 5px 5px 5px 5px;
    background-color: var(--light_color);
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark_color);
    border-radius: 8px;
    color: var(--writing_dark_color);
}

button{
    width: 100px;
    background-color: var(--medium_color);
    border-color: var(--light_color);
    color: var(--writing_dark_color);
    cursor: pointer;
}

::placeholder {
    color: var(--writing_medium_color);
    opacity:1;
}

select:invalid {
    color: var(--writing_medium_color);
}

table {
    margin: auto;
    padding-left: 50px;
    width: 100%;
    min-width: 900px;
    white-space: nowrap;
    overflow:hidden;
    table-layout: fixed;
}

table, th, td {
    border-bottom: 2px solid black;
    border-color: var(--light_medium_color);
    border-collapse: collapse;
}

.sidenav{
    display:block;
    position:fixed;
    width: 200px;
    top:0;
    bottom:0;
    margin-top:100px;
    background-color: var(--medium_color);
    transition: 0.5s; 
    overflow-y: auto;
    overflow-x: hidden;
    
}

.sidenav.is-active{
    box-shadow: 0px 0px 15px var(--dark_color);
}

@media (max-width: 400px) {
    .sidenav{
        width:50vw;
    }
    input, select, button {
        width: 80%;
    }
    button {
        max-width: 100px;
    }
}
