/*Kalender------------------------------------------------------------------------------*/



.prev, .next {
    position:relative;
    top:50%;
    cursor: pointer;
}
.prev {
    text-align: right;
}

.next {
    text-align: left;
}

#month tr td {
    font-size: 20;
    font-weight: bold;   
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-width: 0;
    overflow-wrap: anywhere;
}

#cur_month {
    width: 30%;
    overflow: hidden;
    margin-left:0;
    margin-right:0;
    cursor:default;
}

#cur_year p{
    font-size: small;
    margin-top:5px;
    margin-bottom: 0;
    cursor:default;
}

#calendar_table, #calendar_table th, #calendar_table td{
    border: 0px solid black;
    border-color: var(--medium_color);
    border-radius: 15px;
}

#calendar_table {
    table-layout: fixed;
    width: 100%;
    min-width: 350px;
    max-width: 900px;
    border-collapse: separate;
    border-spacing: 5px 5px;
    padding: 10px 5px 5px 5px;
    
}        

#calendar_table thead tr th {
    padding: 0px;
    width: 25px;
    height: 30px;
    text-align: center;
    transition: 0.3s;
}

#calendar_table tbody tr td {         
    width: 50px;
    padding: 0px;
    
    overflow: hidden;
    background-color: var(--light_color);
    color: var(--writing_dark_color);
    transition: 0.3s;
}

#date {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--dark_color);
    color: var(--writing_light_color);
}

#content {
    z-index:25;
    text-align: left;
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-style: solid;
    border-color: var(--dark_color);
    border-width: 2px;
    border-top-width: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 12px;
}

#content div {
    z-index: 24;
    background-color: var(--calendar_appointment_color);
    color: var(--calendar_appointment_writing_color);
    margin-bottom: 2px;
    padding: 2px;
    cursor: pointer;
}

#content div:hover {
    background-color: var(--calendar_appointment_hover_color);
    color: var(--calendar_appointment_writing_hover_color);
}

.day:hover #date {
    background-color: var(--calendar_rim_hover_color);
    color: var(--calendar_writing_hover_color);
}

.day:hover #content {
    border-color: var(--calendar_rim_hover_color);
    background-color: var(--calendar_content_hover_color);
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    height: 48px;
    overflow-y: auto;
}

#today #content{
    background-color: var(--calendar_today_color);
}

#today:hover #content{
    background-color: var(--calendar_today_hover_color);
    
}

#other_month{
    opacity: 0.5;
}

#month {
    padding: 15px 25px 0px 25px;
    margin-top: 30px;
    width: 400px;
    list-style-type: none;
    box-sizing: border-box;
    align-content: center;
    
    text-align: center;
    table-layout: fixed;
    float: center;
    border-bottom-width: 0;
    min-width: 0px;
    overflow-wrap: anywhere;
}

.popup_outer {
    z-index: 105;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.3);
}

.popup_inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    padding:25px;
    border-radius: 12px;
    background: var(--light_color);
    max-width: 480px;
    overflow:hide;
}

#popup_tableframe {
    max-height: calc(100% - 50px);
    overflow: auto;
}

.popup_inner button {
    padding: 0 0 0 0;
    position:relative;
    float: right;
    top: -23px;
    right: -23px;
    width: 25px;
    height: 25px;
    border-color: var(--dark_color);
}

#popup_table {
	display: table;
    min-width: 0px;
    border-bottom: 0px;
}
#popup_table tr {
    width: 200px;
	display: table-cell;
    border-width: 2px;
    border-style: solid;
    border-color: var(--light_medium_color);
    border-radius: 2px;
}
#popup_table tr td {
    width: 200px;
	display: block;
    border-bottom: 0px;
}

#popup_table #categories {
    width: 200px;
	font-weight: bold;
    border: 0px;
    padding: 0px;
}
#popup_table #categorycontent {
    width: 200px;
    border: 0px;
    padding: 0px;
}

@media(max-width: 480px) {

    
    #month {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }
    #calendar_table tbody tr td, #calendar_table thead tr th {
        font-size: 12px;
        border-radius: 8px;
    }
    #content,#other_month{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        height:40px;
    }

    .day:hover #content{
        height: 38px;
    }    
}
